body{
	background-image: url("/static/ibg.jpg");
	background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
	height:100vh;
}
.carousel{
height:350px;
}

.description{
	font-family: 'Lato';
	text-align: justify;
	color: white;
	overflow: auto;
	width: auto;
	height: 400px;
}
.container{
	height:100vh;
}

::-webkit-scrollbar {
display: none;
}
